@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

:root{
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --dark-blue: hsl(235, 16%, 14%);
    --very-dark-blue: hsl(234, 17%, 12%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
}

body{
    user-select: none;
    -webkit-user-select: none;
}

a:not(:hover){
    text-decoration: none;
}

.container{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 96px;
    padding: 24px;
    background: url(./images/bg-stars.svg), linear-gradient(var(--very-dark-blue), var(--dark-blue));
    background-position: center;
}

.container h1{
    margin-top: 96px;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 6px;
    text-align: center;
}

#background{
    width: 100%;
    height: 197px;
    object-fit: cover;
    object-position: 85%;
    position: absolute;
    bottom: 0;
}

.countdown {
    display: flex;
    gap: 32px;
}

.countdown .bloc-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown .count-title {
    margin-top: 24px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 6px;
    color: var(--grayish-blue);
    text-transform: uppercase;
}

.countdown .figure {
    position: relative;
    text-align: center;
    width: 135px;
    height: 135px;
    background-color: var(--dark-desaturated-blue);
    border-radius: 10px;
    box-shadow: 0 12px 2px var(--very-dark-blue);
    transition: 0.5s all;
    overflow: hidden;
}

.countdown .figure::after,
.countdown .figure::before{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--very-dark-blue);
}

.countdown .figure::after{
    left: -6px;
}

.countdown .figure::before{
    right: -6px;
}

.countdown .figure > span {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    color: var(--soft-red);
}

.countdown .figure > span > span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135px;
}

.countdown .figure .top::after,
.countdown .figure .bottom-back::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}
  
.countdown .figure .top {
    z-index: 3;
    background-color: var(--dark-desaturated-blue);
    transform-origin: 50% 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: perspective(200px);
}
  
.countdown .figure .bottom {
    z-index: 1;
    height: 100%;
}

.countdown .figure .bottom:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.15);
}
  
.countdown .figure .bottom-back {
    z-index: 2;
    top: 0;
    height: 50%;
    overflow: hidden;
    background-color: var(--dark-desaturated-blue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.countdown .figure .bottom-back span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.countdown .figure .top,
.countdown .figure .top-back {
    height: 50%;
    overflow: hidden;
    backface-visibility: hidden;
}

.countdown .figure .top-back {
    z-index: 4;
    bottom: 0;
    background-color: var(--dark-desaturated-blue);
    transform-origin: 50% 0;
    transform: perspective(200px) rotateX(180deg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.countdown .figure .top-back span {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
}

.social-media{
    position: absolute;
    bottom: 64px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.social-media > a svg path{
    transition: 0.35s all;
}

.social-media > a:hover svg path{
    fill: var(--soft-red)
}

.attribution { 
    width: 100%;
    position: absolute;
    bottom: 24px;
    font-size: 11px;
    text-align: center;
    color: var(--white);
}

.attribution a {
    color: var(--soft-red);
}

@media only screen and (max-width: 768px){
    .container{
        gap: 64px;
    }

    .container h1{
        font-size: 20px;
        margin-top: 20vh;
        letter-spacing: 4px;
    }

    .countdown{
        gap: 16px;
    }

    .countdown .count-title{
        margin-top: 16px;
        font-size: 10px;
        letter-spacing: 4px;
    }

    .countdown .figure {
        width: 64px;
        height: 64px;
        box-shadow: 0 8px 2px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
    
    .countdown .figure::after,
    .countdown .figure::before{
        width: 8px;
        height: 8px;
    }

    .countdown .figure::after{
        left: -4px;
    }

    .countdown .figure::before{
        right: -4px;
    }

    .countdown .figure > span{
        font-size: 24px;
    }

    .countdown .figure > span > span{
        height: 64px;
    }

    .countdown .figure .top,
    .countdown .figure .bottom-back{
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .countdown .figure .top-back{
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}